.project{
    height: 50vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.project.right{
    flex-direction: row-reverse;
}

.project.left{
    flex-direction: row;
}

.project-info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-link{
    text-decoration: none;
    height: 40px;
    width: 40%;
    color: #e8eced;
    background-color: #277bb7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-demo{
    width: 40%;
    height: 100%;
}

.project-demo > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}